@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

body {
    font: normal normal 16px Arial, Verdana, 'sans-serif';
    text-align: justify;
}

h1 { 
    font: normal normal 3em 'Lumanosimo';
    text-align: center;
}

h2 {
    text-align: left;
}

p {
    text-align: justify;
    text-indent: 30px;
}